{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>

	<head>
		{{ block('head_brand') }}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


		

		
	</head>

	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}

		<!-- <div class="overlay">
			<img class="logo-brand" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>  -->
		<div class="overlay"></div>
		<div class="herofull" id="particles-js">
			<div class="herofull-img"></div>
			<div class="herofull-txt">
				<h3 class="herofull-txt-title">Mon intwerview de Marque Oualdair</h3>
				<span class="herofull-txt-author">Marc Zürcher</span>
			</div>
		</div>

		<main class="article-content">
			<div class="container ">

				<h3><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</em><br /> <em>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</em><br /> <em>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</em><br /> <em>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</em><br /> <em>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</em><br /> <em>proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em></h3> <p>Lorem ipsum dolor sit amet, <a href="http://www.google.fr">consectetur adipisicing</a> elit, sed do eiusmod<br /> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br /> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br /> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse<br /> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br /> proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br /> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br /> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br /> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse<br /> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br /> proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <blockquote><p>Vous êtes vraiment des youpi matin héhhé ohoho ben oui ça c&rsquo;est signé</p></blockquote> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br /> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br /> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br /> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p> <p><img class="alignnone size-full wp-image-43" src="http://efbupbqw.preview.infomaniak.website/wp-content/uploads/2017/10/Capture-d’écran-2017-06-15-à-11.54.43.png" alt="" width="925" height="665" srcset="http://efbupbqw.preview.infomaniak.website/wp-content/uploads/2017/10/Capture-d’écran-2017-06-15-à-11.54.43.png 925w, http://efbupbqw.preview.infomaniak.website/wp-content/uploads/2017/10/Capture-d’écran-2017-06-15-à-11.54.43-300x216.png 300w, http://efbupbqw.preview.infomaniak.website/wp-content/uploads/2017/10/Capture-d’écran-2017-06-15-à-11.54.43-768x552.png 768w" sizes="(max-width: 925px) 100vw, 925px" /></p> <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non<br /> proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <p>&nbsp;</p>
				
			</div>
		</main>

		<footer>
			
		</footer>

		

		
		

		

		{{ block('footer_brand') }}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<script src="assets/js/particles.min.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js"></script>
	</body>
	
</html>