{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>

	<head>
		{{ block('head_brand') }}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


		

		
	</head>

	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}

		<!-- <div class="overlay">
			<img class="logo-brand" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>  -->
		<div class="overlay"></div>
		<header id="particles-js">
			<div class="container header-container">
				<h1>
					Digital<br>
					Day<br>
					Switzerland
				</h1>
			</div>
			<img src="img/article/montagne-01.svg" alt="" class="header-bg-img">
		</header>

		<main>
			<div class="container">
				<ul class="isotope-filters list-inline">
					<li class="isotope-filters-item">Tous</li>
					<li class="isotope-filters-item">Interviews</li>
					<li class="isotope-filters-item">Portraits</li>
					<li class="isotope-filters-item">Articles</li>
					<li class="isotope-filters-item">Blockchain</li>
					<li class="isotope-filters-item">Autres</li>
				</ul>
			</div>
		</main>

		

		
		

		

		{{ block('footer_brand') }}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<script src="assets/js/particles.min.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
	
</html>