h1 
{
	color: $color2;
	background: transparent;
	font-family: 'Helvetica Neue', 'Arial', 'sans serif';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: modular-scale(6.5);
	line-height: 0.9;
	font-weight: 500;
	//text-transform: uppercase;
	z-index: 11;
}



h2
{
	font-size: modular-scale(4);
	color: $color2;
	font-family: 'Helvetica Neue', 'Arial', 'sans serif';
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
}

p
{
	color: shade($color2, 40%);
	font-family: 'Helvetica Neue', 'Arial', 'sans serif';
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0;

}

